<!DOCTYPE html>
<html>
<head>
    <title>Asset Verification  Reminder</title>
</head>
<body>
    <p>Hi Zoom Communication Team,</p>
    <p>This is a reminder of ASSET VERIFICATION of your asset which is  done by "{{comment}}" last year on {{previous_date}}</p>
    <p>Asset Details:</p>
    <ul>
       
        <li>Category: {{ category }}</li>
        <li>Description: {{ description }}</li>
        <li>Brand: {{ brand }}</li>
        <li>Model No: {{ model_no }}</li>
        <li>Serial No: {{ serial_no }}</li>
    </ul>
    <p> {{user_email_admin_1}} / {{user_email_admin_2}} / {{user_email_admin_3}}   - Please log in to ERP Portal to verify your asset.</p>
    <p>Thank you.</p>
</body>
</html>