{% load static%}

{% include 'base_dashboard.html' %}
{% comment %} {% block sidebar %}

<style>
    /* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

</style>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    
</div>
  
<div id="main">
    <button class="openbtn" onclick="openNav()">&#9776; </button>
    
    <p>Content...</p>
</div>
<script>
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    
    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }
    </script>
    
{% endblock sidebar %} {% endcomment %}
{% block content %}
<div class="containermain " style="margin-top:100px ;">
      
<section class="card-sections mt-5">
    <div class="maincard col-auto">
           
        <a href="/asset_management/assets-reports-list/"><button class="selectsum">Summary</button></a> 
     </div> 
     <br>
    <div class="dash-container row d-flex justify-content-center">
        
        <div class="maincard col-auto">
            <h1 style="color: #E15F12;">Asset Master</h1>
            <p>Central repository containing master details of all Zoom Communications assets. </p>
           <a href="/asset-list/"><button class="selectbn">Select</button></a> 
        </div>
        <div class="maincard col-auto">
            <h1 style="color: #00A3C7 ;">Orders </h1>
            <p>Provides a comprehensive view for input and display of kit list details for specific orders. </p>
            <a href="/asset_management/confirmed-orders-list/"> <button class="selectbn">Select</button></a>
        </div>
        {% comment %} <div class="maincard">
            <h1 style="color: #37A80D ;">Warehouse </h1>
            <p>Stores and organizes warehouse details, including stand-wise and rack-wise information, enabling real-time tracking of asset movement. </p>
            <a href="/asset_management/warehouse-list/"> <button class="selectbn">Select</button></a>
        </div> {% endcomment %}
        <div class="maincard col-auto">
            <h1 style="color: #F8B438 ;">Orders Dispatch </h1>
            <p>Verifies assets at the time of dispatch to ensure they match the placed order. Generates challan once all assets are matched for dispatch.</p>
            <a href="/asset_management/orderdispatch-list/"> <button class="selectbn">Select</button></a>
        </div>
        <div class="maincard col-auto">
            <h1 style="color: #37A80D ;">Repair and Maintenance  
            </h1>
            <p>Generates and tracks maintenance requests for assets requiring repair or servicing. </p>
            <a href="/asset_management/repair-maintenance-list/"><button class="selectbn">Select</button></a>
        </div>
        
        <div class="maincard col-auto">
            <h1 style="color: #5f5367 ;">Report </h1>
            <p>Provides real-time dashboards and reporting capabilities. Offers insights into asset utilization, order fulfilment, and warehouse efficiency. </p>
            <a href="/asset_management/assets-reports-main-page/"><button class="selectbn">Select</button></a>
        </div>

        <div class="maincard col-auto">
            <h1 style="color: #5f5367 ;">Requirements </h1>
            <p>Display all the requirements of asset from the customers</p>
            <a href="/asset_management/requirement-report-main-page/"><button class="selectbn">Select</button></a>
        </div>

    </div>

</section>
</div>

{% endblock content %}