<!DOCTYPE html>
<html>
<head>
    <title>Warranty Period Reminder</title>
</head>
<body>
    <p>Hi Zoom Communication Team,</p>
    <p>This is a reminder that the warranty period for the asset which is under AMC ,is ending on {{ warranty_period }}.</p>
    <p>Asset Details:</p>
    <ul>
       
        <li>Category: {{ category }}</li>
        <li>Description: {{ description }}</li>
        <li>Brand: {{ brand }}</li>
        <li>Model No: {{ model_no }}</li>
        <li>Serial No: {{ serial_no }}</li>
    </ul>
    <p> {{user_email_admin_1}} / {{user_email_admin_2}} / {{user_email_admin_3}}   - Please take  necessary actions before the warranty period expires.</p>
    <p>Thank you.</p>
</body>
</html>