{% load static%}

{% include 'base_dashboard.html' %}
{% block content %}
<style>
    table {
            width: 100%;
            border-collapse: separate; /* Set border-collapse to separate */
            border-spacing: 0; /* Remove the space between cells */
            margin-top: 20px;
            border: 1px solid #F7EDFD;
            border-radius:10px ;

        }

        th, td {
            border: 1px solid #F7EDFD;
            padding: 8px;
            text-align: left;
        
        }
        .table thead th {
            border: none;
             color: #4C555D;
             font-size: 15px;
             font-weight: 600;
        }

        th {
            background-color: #F7EDFD;
            text-transform: uppercase;
            color: #4C555D;
            border: none; /* Remove border for th */
        }
        td {
            text-transform: capitalize;
            font-size: 14px;
        }

        /* Style for checkboxes */
        .checkbox-column {
            text-align: center;
        }
        th, td {
            border: none;
        }
        .assebutton{
            display: flex;
            gap: 10px;
        }
        td.tbname {
            color: #006FC8;
            text-transform:uppercase;
            text-decoration: none;
        }
        td.tbname a {
            text-decoration: none;
        }

        .pagination{
            float:right;
        }

        .select-button{
            border: 1px solid #CCCCCC;
            color: #7C7C7C !important;
            background-color: #FFFFFF;
            border-radius: 5px;
            padding: 0 6px;
            font-size: inherit;
            height:40px;
    
        }

        .asset-tablebtn button{
            border: 1px solid #CCCCCC;
            color: #7C7C7C !important;
            background-color: #FFFFFF;
            border-radius: 5px;
            padding: 0 20px;
            height: 40px;}

            span.select2-selection.select2-selection--single {
                height:38px !important;
            }

            .spinner-border-for-upload-excel {
                height: 30px;
                width: 30px;
                color: #6A1B9A;
                background-color: #6A1B9A;
            }
</style>

<!-- Alert JS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Alert JS -->

<section class="assetdetail">
    <button onclick="goback()" style="border: none; margin-bottom: 10px; background-color: transparent;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #6A1B9A;transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 11h-5v4l-5-5 5-5v4h5v2z"></path></svg></button>

    <div class="assetheaderbuttones">
        {% for m in req_no%}
          <h3>{{m.id}}</h3>
        {% endfor %}     
    </div>
    <div class="assetheaderbuttones">
        {% for m in req_no%}
          <h5>{{m.customer__customer}}</h5>
        {% endfor %}      
    </div>
</section>
{% for m in req_no%}
<section class="assest-container-table">
    <button id="exportButton" onclick="exportcsv('{{m.r_cust_id}}')" >EXPORT TO CSV </button>

{% endfor %}   
    <table class="table">
        <thead>
            <tr>
                {% comment %} <th class="checkbox-column" style="border-radius: 10px 0 0 0;"><input type="checkbox" id="masterCheckbox" onclick="selectAllCheckboxes(this)"></th> {% endcomment %}
                <th>Serial Number</th>
                <th>Category</th>
                <th>SubCategory</th>
                <th>Description </th>
                <th>Brand</th>
                <th>Model</th>
                
                
               
            </tr>
        </thead>

        <tbody>
            {% for m in customer_obj %}
            <tr>
                <td>{{m.r_serialno}}</td>
                {% comment %} <td id="id_{{m.id}}">{{m.id}}</td> {% endcomment %}
                <td>{{m.r_category}} </td>
                <td>{{m.r_subcategory}} </td>
                <td>{{m.r_description}} </td>
                <td >{{m.r_brand}}</td>
                <td>{{m.r_modelno}}</td> 
   
            </tr>
            {% endfor %}
            <!-- Add more rows as needed -->
        </tbody>
    </table>
{% endblock content %} 

<script>
    function goback(){
        window.location.href = '/asset_management/requirement-report-main-page/'
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% comment %} for exporting to csv {% endcomment %}
<script>
    function exportcsv(r_unique_id){
        console.log('coming here')
        let spinner = `
        <div id="spinner" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>`;
        $('#exportButton').html(spinner);

        var r_assetIds = []; 
        $('input[name="RequirementDetail__r_unique_id"]').each(function() {
            r_assetIds.push($(this).val());
        });

        $.ajax({
            type: "GET",    
            url: "/asset_management/requirement-exposed-to-csv/",
            data: { r_unique_id:r_unique_id, 
                r_assetIds:r_assetIds,
                csrfmiddlewaretoken: "{{ csrf_token }}" },
            success: function(data) {
                console.log("helloo")
                var blob = new Blob([data]);
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = "Requirements.csv";
                link.click();
                window.location.reload();
                //$('#exportButton').html("EXPORT TO CSV"); 
            },
            error: function(xhr, status, error) {
                console.error(error);               
            }
        });
    }

</script>
